<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h4>File Upload Component</h4>
      <div class="drop-section border border-primary text-center p-4 pointer" [class.dragover]="isDragOver"
        (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
        (click)="file.click()">
        @if (selectedFile?.name) {
        <h3>{{selectedFile.name}}</h3> }
        @else {
        <h6> Drag or click here to upload file </h6> }
        <input type="file" #file (change)="onFileChange($event)" hidden>
      </div>
      <div class="row col-12">
        <div class="col-6"></div>
        <div class="col-6">
          <button class="btn btn-primary float-end py-2 px-3 mt-4" (click)="uploadFile()">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>